@font-face {
    font-family: BlueberryCupcake;
    src: url(../fonts/BlueberryCupcake-OVy98.ttf);
}
@font-face {
    font-family: OpenSans;
    src: url(../fonts/OpenSans-Light.ttf);
}

//---------------------------------------- CSS Reset & general styles
* {
    padding: 0;
    margin: 0;
}
.center {
    display: flex;
    flex-direction: column;
    align-items: center;
}
body {
    font-family: OpenSans, sans-serif;
    font-size: 1.2rem;
    height: 100vh;
    justify-content: space-between;
}
h1 {
    span {
        padding-left: 15px;
    }
}
label {
    padding-top: 40px;
}
.emFont {
    font-family: BlueberryCupcake;
    font-size: 4rem;
    vertical-align: middle;
    letter-spacing: 1.5px;
    font-weight: 400;
}
a {
    text-decoration: none;
    color: #00c
}
a:hover {
    text-decoration: underline;
    color: #000
}
//---------------------------------------- Rounds option window
#roundsInput {
    width: 90%
}
input[type='submit'] {
    font-family: BlueberryCupcake;
    margin-top: 20px;
    font-size: 2rem;
    padding: 5px 15px;
    border: outset;
    border-radius: 5px;
}
input[type='submit']:active {
    border: inset;
}
//---------------------------------------- Game window
#gameWindow {
    display: none;
    width: 555px;
    //------------------------------ Score, current round and text output
    #currentRoundOutput {
        font-size: 1rem;
        letter-spacing: -0.5px;
        font-weight: bold;
        transform: translateY(30px);
    }
    #scoreOutput {
        font-size: 3rem;
        transition: 0.5s;
        transform: translateY(35px);
    }
    #actionTexts {
        display: flex;
        justify-content: space-between;
        width: 98%;
        transform: translateY(52px);
        position: relative;
        z-index: 10;
    }
    .actionText {
        font-size: 1rem;
        letter-spacing: -0.75px;
        font-weight: bold;
        color: #00000099
    }
    #actionTextDraw {
        color: #fff;
        font-family: BlueberryCupcake;
        font-size: 3rem;
        letter-spacing: 3px;
        font-weight: 500;
    }
    //------------------------------ Actions
    #actionsContainer {
        display: flex;
        justify-content: center;
        width: 100%;
        overflow-x: hidden;
        border-right: 10px solid #000;
        border-left: 10px solid #000;
        .action {
            width: 280px;
            height: 280px;            
            position: relative;
            transition: 0.2s;
        }
        #playerAction {
            transform: rotate(90deg) rotateY(180deg);
            left: -280px;
        }
        #computerAction {
            transform: rotate(-90deg);
            right: -280px;
        }
    }
    #buttonsContainer {
        display: flex;
        justify-content: center;
    //------------------------------ Buttons
    .gameButton {
        width: 80px;
        height: 80px;
        border: 3px solid #000;
        border-radius: 10px;
        margin-top: 20px;
        transition: 0.05s;
        }
        .gameButton:not(:last-of-type) {
            margin-right: 20px;
        }
        .gameButton:hover {
            transform: scale(1.1);
        }
        #rockButton {
            background: url(../img/rock.png) center/cover no-repeat;
        }
        #paperButton {
            background: url(../img/paper.png) center/cover no-repeat;
        }
        #scissorsButton {
            background: url(../img/scissors.png) center/cover no-repeat;
        }
    }
}
//---------------------------------------- Finished / restart message
#finishedMessages {
    display: none;
    text-align: center;
    padding-top: 40px;
}
#finishedMessage, #finishedMessage3 {
    font-size: 1.5rem;
}
#finishedMessage2 {
   font-family: BlueberryCupcake;
   font-size: 5rem;
   line-height: 8rem;
   letter-spacing: 3px;
}
//---------------------------------------- Icons attribution
#iconsAttribution {
    display: none;
    font-size: 0.75rem;
    padding-bottom: 3px;
}